@import "tailwindcss";

@theme{
--color-primary: #fff;
--color-secondery: #DEE1E6;
--font-main:"Rubik";
--font-headers:"Maven Pro";
}

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #000;
        font-family: var(--font-main);
        color: var(--color-primary);
    }

    button{
        cursor: pointer;
    }

    .container {

    width: 100%;
    @media (width >=30rem) {
        max-width: 30rem;
    }
}
}