@import "tailwindcss";

@theme{
--color-primary: #fff;
--color-secondery: #DEE1E6;
--color-theme: #EA0000;
--font-main:"Rubik";
--font-headers:"Maven Pro";
}

@layer base{
    body {
        background-color: #000;
        font-family: var(--font-main);
        color: var(--color-primary);
    }

    button{
        cursor: pointer;
    }

}